@media only screen and (max-width:768px){
    .col1, .col2{
        width:100%;
      }
    .col3{
        width:100%;
      }
}

@media only screen and (max-width:480px){
    .col{
       float:inherit;
        width:100%;
      }
}

html {
  background:#ffffff;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
h1{
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 35px;
}

main {
  position: relative;
  left: -3px;
}
h2{
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 30px;
  color: #42a5f5;
  position: relative;
  top: 30px;
  text-align: left;
}
h4 {
  font-size: 12px;
  text-align: center;
}

header {
  background-color: white;
  margin-top: -35px;
  padding: inherit;
}

footer {
  background: #ffffff;
  color: black;
  text-align: center;
  font-size: 12px;
}

main{
  width:75.75%;
  margin: 0 auto;
  overflow: hidden;
}

#search {
  position: relative;
  top: 30px;
}

#cart {
  font-size: 10px;
  width: 1px;
  height: 1px;
  text-align: left;
  float: left;
}

.img {
  position: relative;
  float: right;
  width: 200px;
  height: 250px;
  margin: 5px 5px 20px 20px;
}

#wrapper {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  text-align: right;
  text-indent: inherit;
  margin-bottom: -40px;
  margin:0 auto;
  width: 900px;
  margin: 40px;
}

.blankspace {
height: 430px;
width: 100%;
padding: 0px;
}

.container {
  max-width: 175px;
  margin: auto;
  background: #f2f2f2;
  overflow: auto;
  text-align: center;
}

/*TOP NAVIGATION BAR*/

nav ul li .submenu {
  font-size: 15px;
}
nav {
  position: relative;
  top: 10px;
  margin-left: 30px;
  text-indent: 20px;
  width: 100%;
  text-align: center;
  background-color: white;
  opacity: .5px;
  border: 2px;
  border-color: #ffffff;
  border-style: solid;
}

nav ul li {
  display: inline-table;
  text-decoration: overline underline;
  background-color: white;
  height: inherit;
  width: inherit;
  padding: 5px;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
  color: black;
}

ul li {
  display: block;
  float: center;
  background-color: white;
  opacity: .8;
  font-size: 20px;
  text-align: center;
  color: black;
}

ul li a {
  text-decoration: none;
  color: black;
  display: block;
}

ul li a:hover {
  background-color: white;
  text-decoration: none;
}

ul li ul li {
  display: none;
}
ul li:hover ul li {
  display: block;
}

a:link,a:visited {
  display: block;
  color: black;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

a:hover {
  display: block;
  text-decoration-style: dashed;
}

/*jumbotron*/
.jumbotron {
  background: white;
}
.col{
    width: 33.333%;
    height:250px;
    float: left;
    text-align: center;
    padding: 30px 10px;
    margin-top: -20px;
    box-sizing: border-box;
    font-size: 25px;
}
.col1{
  background: #ffffff;
  text-align: right;
}
.col2{
  position: relative;
  top: 20px;
  background: #ffffff;
  text-align: center;
}
.col3{
  background: #ffffff;
  text-align: left;
}

/*PHOTO GALLERY FOR HOME PAGE*/
body {
  margin: 0;
  padding: 0;
  background: #fff;
  font-family: sans-serif;
}
.container {
  width: 1300px;
  margin: 80px auto 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.container .box {
  position: relative;
  width: 250px;
  height: 250px;
  background: #fff;
  margin: 10px;
  box-sizing: border-box;
  display: inline-block;
}
.container .box .imgBox {
  position: relative;
  overflow: hidden;
}
.container .box .imgBox img {
  max-width: 100%;
  transition: transform 1s;
  width: 250px;
  height: 250px
}
.container .box:hover .imgBox img {
  transform: scale(1.1);
}
.container .box .details {
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  background: rgba(0,0,0,.8);
  transform: scaleY(0);
  transition: transform .5s;
}
.container .box:hover .details {
  transform: scaleY(1);
}

.container .box .details .content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  margin-left: 40px;
  padding: 15px;
  color: #fff;
}
.container .box .details .content h3 {
  margin: 0;
  margin-left: 10px;
  padding: 0;
  font-size: 30px;
  color: #ccc;
}
.container .box .details .content p {
  margin: 10px 0 0;
  padding: 0;
  font-size: 25px;
  color: #ccc;
}
